* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
    --second-color: #656689;
    --color-btn: #ff5b2e;
    --font-poppins: "Poppins", sans-serif;
    --font-sora: "Sora", sans-serif;
    --text-color-gray: #5e6085;
    --background-color: #fffaf5;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-poppins);
    background-color: var(--background-color);
}

/* =========== Common =========== */
.common__container {
    width: 1170px;
    margin: 0 auto;
}

.common--btn {
    padding: 20px 38px;
    border-radius: 31px;
    border: 1px solid var(--color-btn);
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    text-align: center;
    font-weight: 500;
    color: var(--color-btn);
    transition: .3s;
}

.common--btn:hover {
    color: #fff;
    background: var(--color-btn);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

/* =========== Header =========== */
.header {
    margin-top: 26px;
}

.header__start {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: 229px;
    display: flex;
    gap: 36px;
}

.nav--item {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color-gray);
    transition: color 0.3s;
}

.nav--item:hover {
    color: var(--primary-color);
}

.header--btn {
    width: 117px;
    height: 50px;
    padding: 18px 30px;
    border-radius: 25px;
    border: 1px solid var(--primary-color);
    margin-left: auto;
    opacity: 0.7;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: .3s;
}

.header--btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.header__content {
    display: flex;
}

/* Header-Images */

.header__images {
    position: relative;
    width: 50%;
    margin-top: 100px;
}

.header--bg {
    position: absolute;
    z-index: -1;
}

.header--bg.left {
    bottom: 10px;
    left: -58px;
}

.header--bg.right {
    top: 17px;
    right: 157px;
}

.header--image.large {
    width: 388px;
    height: 488px;
    flex-shrink: 0;
    border-radius: 16px;
    object-fit: contain;
    background: #FE997B;
}

.header--image.small {
    position: absolute;
    right: 23px;
    bottom: -35px;
    width: 186px;
    height: 244px;
    flex-shrink: 0;
    border-radius: 16px;
    object-fit: cover;
    object-position: 70% 50%;
    z-index: 2;
    background: #FAA7AD;
}

.header__card {
    position: absolute;
    right: 195px;
    bottom: -94px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    padding: 18px 14px;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    z-index: 3;
    background: #FFF;
}

.header__card--row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card--image {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 70% 0%;
}

.card--image.row--1 {
    background: #FEC23F;
}

.card--image.row--2 {
    background: #6597C2;
}

.card--title {
    font-family: var(--font-sora);
    font-size: 1.4rem;
    font-weight: 600;
    color: #181E52;
}

.card--line {
    height: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    margin-top: 7px;
    opacity: 0.08;
    background: var(--primary-color);
}

.card--line.long {
    width: 118px;
}

.card--line.shord {
    width: 39px;
}

.card--line#main-line {
    width: 222px;
    height: 2px;
    opacity: 1;
    background: #F2F2F2;
}

/* Header-Text */

.header__text {
    width: 50%;
    padding-left: 100px;
    margin-top: 171px;
}

.header--title {
    font-family: var(--font-sora);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
    color: var(--primary-color);
}

.header--desc {
    width: 391px;
    max-width: 100%;
    margin-top: 24px;
    font-weight: 400;
    line-height: 1.88;
    color: var(--second-color);
}

.header__content--btn {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 28px;
}

.header__text--btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 189px;
    height: 60px;
    flex-shrink: 0;
    padding: 22px 30px;
    border-radius: 31px;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    text-align: center;
    font-weight: 600;
    color: #FFF;
    background: var(--color-btn);
}

.header__text--btn i {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 50%;
    font-size: 0.8rem;
    color: var(--color-btn);
    background: #fff;
}

.header__text--btn:hover {
    opacity: 0.9;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.header__text--btn:hover i {
    animation-name: fade-out-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}
@keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}

.header--link {
    color: #000958;
    text-align: center;
    font-weight: 500;
}

.header--link:hover {
    text-decoration: underline;
}

/* =========== About =========== */
.main__about {
    padding: 53px 0;
    margin-top: 171px;
}

.about__container {
    display: flex;
}

.about--sub-title {
    margin-top: 77px;
    font-family: var(--font-sora);
    font-weight: 600;
    color: var(--text-color-gray);
}

.about--title {
    width: 446px;
    max-width: 100%;
    margin-top: 15px;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--primary-color);
}

.about--desc {
    width: 431px;
    max-width: 100%;
    margin-top: 24px;
    font-weight: 400;
    line-height: 1.88;
    color: var(--second-color);
}

.about__checkbox {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-top: 54px;
}

.checkbox__row {
    display: flex;
    
}

.checkbox__row.row--1 {
    gap: 62px;
}

.checkbox__row.row--2 {
    gap: 36px;
}

.about__checkbox label {
    position: relative;
    padding-left: 34px;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    color: #48496A;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .2s;
}

.checkbox [type='checkbox']:checked ~ label {
    color: #FF5D31;
}

.checkbox [type='checkbox'] ~ label::before {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background: #FF5D31;
}

.checkbox [type='checkbox']:checked ~ label::after{
    position: absolute;
    left: 7px;
    bottom: 11px;
    content: "";
    width: 8px;
    height: 4px;
    border-bottom: 2px solid #FFF2E5;
    border-left: 2px solid #FFF2E5;
    rotate: -50deg;
}

.about__images {
    position: relative;
    margin-left: 200px;
}

.about__images--bg.right {
    position: absolute;
    right: -33px;
    top: 207px;
    z-index: -2;
}

.about__images--bg.center {
    position: absolute;
    bottom: 0;
    width: 449px;
    height: calc(559px - 223px);
    border-radius: 16px;
    z-index: -1;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
}

.about__images--image {
    width: 450px;
    height: 472px;
    margin-left: 23px;
    flex-shrink: 0;
    object-fit: cover;
    transform: scaleX(-1);
}

.about__card {
    position: absolute;
    top: 165px;
    left: -100px;
    width: 136px;
    height: 156px;
    flex-shrink: 0;
    padding: 21px 26px 29px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
}

.about__card--num {
    font-family: var(--font-sora);
    text-align: center;
    font-size: 4.2rem;
    font-weight: 700;
    color: #FFF;
}

.about__card--desc {
    margin-top: 14px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
    color: #C6F4F9;
}

.about__images--icon {
    position: absolute;
    top: -40px;
    right: -30px;
}

/* =========== Features =========== */
.main__features {
    margin-top: 77px;
}

.features__container {
    display: flex;
    justify-content: center;
}

.features__images {
    position: relative;
    margin-top: 16px;
    margin-right: 127px;
}

.icons {
    position: absolute;
}

.features--icon-1 {
    right: 63px;
    top: 13px;
}

.features--icon-2 {
    top: -18px;
    right: 15px;
}

.features--icon-3 {
    top: 32px;
    right: -25px;
}

.features--icon-4 {
    bottom: -57px;
    right: -39px;
}

.features__images--image {
    width: 458px;
    height: 500px;
    border-radius: 18px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: right;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
}

.features__content {
    margin-top: 52px;
}

.features--title {
    font-family: var(--font-sora);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--primary-color);
}

.features--desc {
    width: 511px;
    max-width: 100%;
    margin-top: 24px;
    font-weight: 400;
    line-height: 1.88;
    color: var(--second-color);
}

.features__dashboard {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
}

.dashboard--item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard--text {
    font-family: var(--font-sora);
    font-size: 1.8rem;
    font-weight: 600;
    color: #48496A;
}

.dashboard--line {
    display: flex;
    align-items: center;
    width: 557px;
    height: 2px;
    margin-top: 11px;
}

.dashboard--line-bold {
    width: 17%;
    height: 2px;
    background: var(--color-btn);
}

.dashboard--line-normal {
    width: calc(100% - 17%);
    height: 2px;
    opacity: 0.07;
    background: var(--color-btn);
}

.features--sub-dash {
    width: 391px;
    max-width: 100%;
    margin-top: 36px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    color: var(--second-color);
}

.features--link {
    display: inline-block;
    margin-top: 32px;
    font-weight: 500;
    color: #FF5D31;
}

.features--link-line {
    width: 86px;
    height: 1.5px;
    margin-top: 5px;
    visibility: hidden;
    background: #FF5D31;
}

.features--link:hover + .features--link-line {
    visibility: visible;
}

/* =========== Services =========== */
.main__services {
    margin-top: 130px;
}

.services__container {
    display: flex;
    flex-direction: column;
    padding: 68px 0 100px;
}

.services--sub-title {
    text-align: center;
    font-family: var(--font-sora);
    font-weight: 600;
    color: var(--text-color-gray);
}

.services--title {
    margin-top: 15px;
    text-align: center;
    font-family: var(--font-sora);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.12;
    color: #000958;
}

.services__content {
    margin-top: 71px;
    display: grid; 
    grid-auto-flow: column dense; 
    grid-template-columns: repeat(3, 294px); 
    grid-template-rows: repeat(3, 208px);
    justify-content: space-between;
    gap: 24px 6px;
    grid-template-areas: 
    ". img ."
    ". img ."
    ". img ."; 
}

.services--item {
    padding: 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
}

.services__content--text {
    position: relative;
    margin-left: 12px;
    font-family: var(--font-sora);
    font-size: 2.2rem;
    font-weight: 600;
    color: #000958;
}

.services__content--text::before {
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translateY(-50%);
    content: "";
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);
}

.services__content--desc {
    width: 244px;
    max-width: 100%;
    margin-top: 18px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    color: var(--second-color);
}

.services__content--link {
    display: inline-block;
    padding: 4px;
    margin-top: 20px;
    margin-left: -4px;
    margin-bottom: -4px;
    font-family: var(--font-sora);
    font-size: 1.2rem;
    font-weight: 400;
    color: #34396A;
}

.services__content--link:hover {
    text-decoration: underline;
}

.services--item i {
    margin-left: 6px;
    rotate: 45deg;
    font-size: 1.2rem;
    color: var(--color-btn);
}

.services__images {
    position: relative;
    grid-area: img;
}

.services--image {
    position: absolute;
    bottom: 0;
    width: 420px;
    height: 621px;
    flex-shrink: 0;
    object-fit: cover;
    overflow: hidden;
}

.services--bg {
    position: absolute;
    left: -56px;
    bottom: 56px;
    width: 410px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 10px;
    z-index: -1;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}

.services--btn {
    width: 214px;
    height: 56px;
    flex-shrink: 0;
    margin: 0 auto;
}

/* =========== Team =========== */
.main__team {
    margin-top: 130px;
}

.team__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team--sub-title {
    text-align: center;
    font-family: var(--font-sora);
    font-weight: 600;
    color: var(--text-color-gray);
}

.team--title {
    margin-top: 15px;
    font-family: var(--font-sora);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.12;
    color: var(--primary-color);
}

.team__list-staff {
    display: flex;
    gap: 71px;
    margin-top: 59px;
}

.team--staff {
    position: relative;
    display: flex;
    flex-direction: column;
}

.team--img-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 234px;
    height: 266px;
    flex-shrink: 0;
    border-radius: 129.5px;
    overflow: hidden;
}

.team--img-bg.img-1 {
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
}

.team--img-bg.img-2 {
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}

.team--img-bg.img-3 {
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}

.team--img-bg.img-4 {
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}

.team--bg {
    position: absolute;
    left: -18px;
}

.team--bg.bottom {
    bottom: 78px;
}

.team--bg.top {
    top: 0;
}

.team--avt {
    width: 251px;
    height: 290px;
    flex-shrink: 0;
    object-fit: cover;
}

.team--sub-avt {
    margin-top: 29px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--second-color);
}

.team--avt-name {
    margin-top: 14px;
    text-align: center;
    font-family: var(--font-sora);
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.team--link {
    width: 193px;
    height: 56px;
    flex-shrink: 0;
    margin-top: 48px;
}

/* =========== Price =========== */
.main__price {
    margin-top: 130px;
    background: #FFF6ED;
}

.price__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 86px 0;
}

.price--title {
    font-family: var(--font-sora);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.12;
    color: var(--primary-color);
}

.price--desc {
    text-align: center;
    width: 709px;
    max-width: 100%;
    margin-top: 24px;
    font-weight: 400;
    line-height: 1.88;
    color: var(--second-color);
}

.price--btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 276px;
    height: 56px;
    flex-shrink: 0;
    padding: 20px 0;
    border-radius: 31px;
    border: 1px solid #FF5B2E;
    margin-top: 38px;
    background: transparent;
}

.price--month {
    margin-left: 40px;
    text-align: center;
    font-weight: 500;
    color: var(--color-btn);
}

.price--year {
    width: 131px;
    height: 56px;
    flex-shrink: 0;
    padding: 20px 40px;
    border-radius: 31px;
    text-align: center;
    font-weight: 500;
    color: #FFF;
    background: var(--color-btn);
}

.price__list-item {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 302px);
    grid-template-rows: 465px;
    column-gap: 44px;
}

.price--item {
    display: flex;
    flex-direction: column;
    padding: 30px 28px 43px;
    border-radius: 20px;
    background: #fff;
}

.price--item-rank {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-btn);
}

.price--item-type {
    margin-top: 8px;
    font-family: var(--font-sora);
    font-size: 1.8rem;
    font-weight: 600;
    color: #3F4065;
}
.price--item-price {
    margin-top: 24px;
    font-family: var(--font-sora);
    font-size: 3.4rem;
    font-weight: 700;
    color: var(--primary-color);
}

.price--item-btn {
    margin-top: 22px;
    width: 246px;
    height: 44px;
    flex-shrink: 0;
    padding: 14px 64px;
    box-shadow: none;
}

.price--item ul {
    margin-top: 24px;
    margin-left: 26px;
}

.price--item ul li {
    margin-top: 18px;
}

.price--item ul li:first-child {
    margin-top: 0;
}

.price--item ul li p {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--second-color);
}

.price--item ul li p::before {
    position: absolute;
    left: -24px;
    content: "";
    width: 10px;
    height: 5px;
    border-bottom: 2px solid var(--color-btn);
    border-left: 2px solid var(--color-btn);
    rotate: -48deg;
}

.opacity-50 {
    opacity: 0.5;
}

/* =========== Review =========== */
.main__review {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 53px;
}

.review__container {
    display: flex;
    align-items: center;
}

.review__images {
    position: relative;
    width: 274px;
    height: 427px;
    flex-shrink: 0;
    margin-left: 28px;
    border-radius: 137px;
    overflow: hidden;
}

.review--image {
    width: 338px;
    height: 507px;
    flex-shrink: 0;
    object-fit: cover;
    transform: translateX(-20px);
}

.review--bg {
    position: absolute;
    bottom: 0;
    width: 274px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 137px;
    z-index: -1;
    background: #FFDA54;
}

.review__content {
    margin-top: 113px;
    margin-left: 115px;
}

.review--title {
    font-family: var(--font-sora);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.12;
    color: var(--primary-color);
}

.review--quote {
    width: 553px;
    max-width: 100%;
    margin-top: 24px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55;
}

.quote--author {
    display: inline-block;
    position: relative;
    margin-top: 34px;
    margin-left: 28px;
    font-family: var(--font-sora);
    font-size: 1.8rem;
    font-weight: 600;
    color: #282828;
}

.quote--author::before {
    position: absolute;
    top: 50%;
    left: -28px;
    transform: translateY(-50%);
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
}

.arrow {
    cursor: pointer;
    width: 54px;
    height: 54px;
    padding: 19px 18px;
    border: 1px solid #FFD1C4;
    border-radius: 50%;
    font-size: 1.4rem;
    transition: .3s;
    color: var(--color-btn);
}

.fa-arrow-right {
    margin-left: 76px;
}

.arrow:hover {
    color: #fff;
    background: var(--color-btn);
}

.reivew--select {
    margin-top: 56px;
}